
.cllctr-container.cllctr-open li.cllctr-removed{text-decoration: line-through;}
.cllctr-container.cllctr-open input.cllctr-searcher{display: block;}

.cllctr-container.cllctr-closed ul.cllctr-options{display: none;}
.cllctr-container.cllctr-closed input.cllctr-searcher{display: none;}

.cllctr-container.cllctr-filtered li.cllctr-filtered{color: #DDD;}

